# Prerequisites
*.d
.vscode/
test_data/
arducam/aaditya_data/
arducam/nika_training_data/
arducam/bg.jpg
arducam/capture_left.txt
arducam/capture_right.txt
arducam/log_left.txt
arducam/log_right.txt
weights/
wandb/
# Object files
*.o
*.ko
*.obj
*.elf


*.pyc
.DS_store

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
